body {
    font-family: 'Poppins';
    margin: 0;
}


/* Navigation Menu */

.navbar {
    padding: 0;
}

.container-fluid {
    background-color: #F5FEF9;
    padding: 20px 6.5% 15px 6.5%;
}

.navbar-bg {
    color: #fff;
}

.nav-item {
    padding: 0;
}

.favicon {
    max-width: calc(37px + 0.2vw);
}

.cotact-nav-link {
    border: 3.5px solid #006729;
    border-radius: 7px;
}

.nav-link {
    color: #006729;
    font-size: calc(15px + 0.2vw);
    border-radius: 5px;
    padding: 6px 8px;
    margin: 5px 0 5px 8px;
}

.nav-link:hover {
    background-color: #006729;
    color: #fff;
    font-size: calc(15px + 0.2vw);
    border-radius: 5px;
}

.active-tab {
    color: #ffffff;
    background-color: #006729
}

.menu {
    margin: 5px 0 0 0;
}


/* Hero Section */

#hero-section {
    background-color: #F5FEF9;
    padding: 2.5% 9.3% 2.1%;
    text-align: center;
    border-top: 1px solid #006729;
    position: relative;
    z-index: 0;
}

.heading-section {
    text-align: left;
}

.head-text {
    padding: 105px 0 60px;
    margin: 0 0 13px;
}

.heading-text {
    font-size: calc(40px + 0.21vw);
    font-weight: 600;
    line-height: 1.3;
    padding: 0 20px 20px 0;
    margin: 0;
}

.heading-subtext {
    font-size: calc(17.5px + 0.2vw);
    line-height: 1.42;
    font-weight: 200;
    padding: 0 10px 20px 0;
    margin: 0;
}

.learn-more {
    background-color: #006729;
    font-size: calc(14px + 0.21vw);
    padding: 2% 3%;
    color: white;
}

.learn-more:hover {
    background-color: #035423;
    font-size: calc(14px + 0.21vw);
    padding: 2% 3%;
    color: white;
}

.hero-img {
    width: calc(70% + 1vw);
    position: relative;
    left: 80px;
    height: auto;
    text-align: center;
}


/* Get Our Apps */

#get-apps {
    background-color: #006729;
    padding: 0 10% 5%;
    text-align: center;
}

.ad-video {
    text-align: center;
    margin: -5rem 0 0 0;
    padding: 0 0 15px 0;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.get-our-app-text {
    padding: 15px 0 5px;
    color: #fff;
    text-align: left;
    font-size: calc(35px + 0.2vw);
    line-height: 1.3;
    margin: 0;
}

.download-button {
    text-align: left;
    padding: 10px 0 0;
}

.download-btn {
    font-size: calc(15px + 0.21vw);
    padding: 10px 16px;
    margin: 0 10px 0 0;
}


/* Who are we? */

#who-are-we {
    text-align: center;
    background-color: #F5FEF9;
    padding: 4% 10%;
}

.who-are-we-text {
    text-align: left;
    padding: 0 0 10px;
    margin: 30px 0 0;
}

.who-are-we-h1 {
    font-size: calc(29px + 0.21vw);
    font-family: 'Poppins';
    color: #1d1d1d;
    font-weight: 600;
    padding: 25px 0 10px;
    margin: 0;
}

.who-are-we-h2 {
    font-size: calc(29px + 0.21vw);
    font-family: 'Poppins';
    color: #1d1d1d;
    font-weight: 600;
    padding: 35px 0 10px;
    margin: 0;
}

.who-are-we-p {
    font-size: calc(16px + 0.21vw);
    padding: 0 10px 0 0;
    font-weight: 400;
    margin: 0;
}

.iphone {
    width: calc(85% + 0.5vw);
    text-align: center;
    margin: -175px 0 0;
    padding: 0;
}

.iphone-div {
    padding: 0;
    margin: 0;
}


/* Services */

.services-icon {
    padding: 0;
}

.icons {
    padding: 0;
}

.service-ico {
    width: calc(95% + 0.15vw);
    margin: 20px 0 0;
}

.h3-div {
    text-align: center;
    font-size: calc(17px + 0.25vw);
    padding: 0;
    margin: 0;
}

.hr-services {
    margin: 35px 0 5px;
    padding: 0;
}


/* Comment & Reviews */

#comments {
    padding: 0 9% 7%;
    text-align: center;
}

.comments {
    text-align: left;
}

.comments-h2 {
    font-size: calc(22px + 0.24vw);
    font-weight: 500;
    color: #424141;
    margin: 0 0 10px;
    padding: 0 10%;
}

.reviews {
    font-size: calc(16px + 0.24vw);
    color: #1d1d1d;
    padding: 0 9%;
    margin: 0;
}


/* Footer Section */

.site-footer {
    background-color: #1E1E1E;
    padding: 40px 0 20px;
    font-size: cal(15px + 0.15vw);
    line-height: 24px;
    color: #fff;
}

.footer-icon {
    margin: 0 5px 0 0;
    width: auto;
}

.site-footer a {
    color: #fff;
}

.site-footer a:hover {
    color: #fefefe;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #fff
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 0 0 3px;
    border-radius: 100%;
    background-color: #33353d;
    color: #fff;
}

.handle-text {
    margin: 0 0 0 5px;
    font-size: calc(15px + 0.15vw);
}

.copyright-text {
    font-size: calc(17px + 0.18vw);
    color: #fff;
    margin: 0;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 500
    }
}



/* About Us Page */

/* Overview */

#overview {
    background-color: #F5FEF9;
    padding: 2.2% 7% 10px;
    text-align: left;
    border-top: 1px solid #006729;
}

.overview-h2,
.about-us-h2,
.mission-h2,
.vision-h2 {
    font-size: calc(33px + 0.12vw);
    margin: 30px 0 5px;
    font-weight: 600;
}

.overview-text,
.about-us-text,
.mission-text,
.vision-text {
    font-size: calc(17px + 0.12vw);
    line-height: 1.35;
    margin: 0 0 20px;
}

.hr {
    width: 40%;
    color: #1d1d1d;
    align-items: left;
    margin: 8px 0;
}


/* School Ambassadors */

#school-amb {
    background-color: #F5FEF9;
    padding: 2% 8% 2.5%;
    text-align: center;
}

.school-amb-h2 {
    text-align: left;
    color: #424141;
    font-size: calc(32px + 0.15vw);
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.amb-text {
    font-size: calc(14px + 0.2vw);
    font-weight: 400;
    padding: 8px 0;
}

.group-avatar {
    margin: 0;
    padding: 50px 0 25px;
}

.view-more {
    background-color: #006729;
    margin: 25px 0 0;
    font-size: calc(14px + 0.16vw);
    padding: 11px 12px;
    color: white;
}

.view-more:hover {
    background-color: #035423;
    font-size: calc(14px + 0.162vw);
    padding: 11px 12px;
    color: white;
}


/* Become An Ambassador */

#become-an-ambassador {
    background-color: #F5FEF9;
    text-align: center;
}

.become-an-ambassador {
    margin: 10px 0 0 0;
    padding: 0 0 10px 0;
    text-align: left;
}

.amb-btn {
    border: 2px #006729 solid;
    color: #006729;
    margin: 3% 9% 2.5%;
    padding: 11px 14px;
    font-size: calc(16px + 0.15vw);
    font-weight: 500;
}

.amb-btn:hover {
    background-color: #006729;
    margin: 3 9% 2.5%;
    padding: 11px 14px;
    font-size: calc(16px + 0.15vw);
    font-weight: 500;
}

.amb-hr {
    margin: 40px 0 0 0;
    width: 40%;
}

.hr-amb {
    margin: 0;
}



/* Services Page */

#our-services-pg {
    padding: 6% 8% 7%;
    margin: 3px 0 -70px;
}

.services-h2 {
    color: #fff;
    font-size: calc(35px + 0.21vw);
    font-weight: bold;
    padding: 25px 0 15px;
    margin: 0;
}

.services-text {
    font-size: calc(15px + 0.19vw);
    color: #fff;
    font-weight: 300;
    margin: 0;
}

.bg-icons {
    text-align: center;
}

.services-icons {
    max-width: 95%;
    max-height: fit-content;
    margin: 0;
}

#services-icons {
    text-align: center;
}

.hr-2 {
    width: 35%;
    color: #1a1919;
    align-items: left;
    margin: 2% 0 4%;
}

.goals,
.values {
    font-size: calc(29px + 0.19vw);
    font-weight: 500;
    margin: 0 0 10px;
    text-align: left;
}

.list-of-value {
    padding: 0 0 0 20px;
}

.value-list {
    font-size: calc(17px + 0.12vw);
    line-height: 1.35;
    padding: 2px 0;
    text-align: left;
}

#core-values {
    padding: 1.6% 7% 3.5%;
}

/* Blog Section */

#blog-pg {
    padding: 6% 6.5% 5.5%;
    margin: 3px 0 0;
}

.blog-container {
    margin: 0;
    padding: 0;
}

.blog-h2 {
    color: #fff;
    font-size: calc(36px + 0.21vw);
    font-weight: bold;
    padding: 25px 0 15px;
    margin: 0;
}

.blog-text {
    font-size: calc(15px + 0.24vw);
    color: #fff;
    font-weight: 300;
    margin: 0;
    padding: 1% 2% 0 0;
}

.blogger-btn {
    border: 1px #fff solid;
    border-radius: 8px;
    padding: 10px 13px;
    margin: 70px 0 14px;
}

/* Post Section */

#post {
    padding: 4% 4.5% 5.5%;
    background-color: #fff;
}

.icon-bar {
    color: #1d1d1d;
    align-items: right;
}

.post-h2 {
    font-size: calc(33px + 0.18vw);
    font-weight: bold;
    margin: 0;
}

.icon-bar {
    margin: 0;
}

.post-container {
    margin: 0 0 30px;
}

.post-contain {
    padding: 0;
    margin: 0 40px;
}

.post-content {
    padding: 7px 5px 15px;
    margin: 0;
}

.post-text {
    margin: 0;
    padding: 0 10px;
    text-align: left;
}

.post-img {
    padding: 0;
}

.post-pic {
    border-radius: 10px;
    margin: 0 10px 0 0;
}

.blooger-pic {
    width: 45px;
    height: auto;
}

.post-title {
    margin: 0 0 8px;
    color: #1d1d1d;
    font-family: 'Poppins';
    font-size: calc(24px + 0.25vw);
    font-weight: bold;
}

.post-date {
    margin: 0;
    font-size: calc(14px + 0.12vw);
    color: #1d1d1d;
    font-weight: bold;
    margin: 0 0 5px;
    font-family: 'Courier New', Courier, monospace;
}

.blog-post {
    margin: 0 0 10px;
    font-size: calc(15px + 0.19vw);
    color: #1a1919;
}

.name-of-uni {
    margin: 0 0 8px;
    font-style: italic;
}

.blogger-id {
    margin: 0;
    text-align: right;
}

.post-link {
    text-decoration: none;
}

#blogger {
    padding: 4% 4.5% 5.5%;
    background-color: #fff;
}

.back-to-blog {
    color: #035423;
    font-size: calc(16px + 0.16);
    text-decoration: none;
    text-align: left;
}

.blogger-img {
    padding: 0;
}

.blogger-img-content {
    text-align: left;
    padding: 150px 50px;
    border-radius: 10px;
}

.blogger-h2 {
    color: #fff;
    font-weight: 450;
    line-height: 1.3;
    letter-spacing: 0.7;
    margin: 0 0 15px 0;
    padding: 0;
    font-size: calc(33px + 0.17vw);
}

.blogger-text {
    font-size: cal(17px + 0.25vw);
    color: #fefefe;
    padding: 0 180px 0 0;
}

.signup-box {
    width: 30%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    font-family: 'Poppins';
    background-color: #fff;
}

.sign-up-box {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: #eee 0 0 10px 1px;

}

label {
    margin: 10px 0px 5px 5px;
}

input {
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    background: #eee;
}

.signup-btn {
    width: 100px;
    height: 50px;
    background-color: #035423;
    border: none;
    border-radius: 15px;
    margin: 40px 0 0 0;
    color: white;
    font-weight: 400;
}

.signin-p {
    margin: 10px 0 0 0;
    font-size: calc(15px + 0.2vw);
    font-weight: 400;
}

.signin-text {
    color: #006729;
    font-weight: bold;
    text-decoration: none;
}

.vh-100 {
    height: 50vh;
    min-height: 50vh;
}

.coming-soon {
    color: #ffff;
    margin: 0 0 30px;
}

.cs-btn {
    padding: 13px 16px;
}


/* Media Queries */

@media (max-width:629px) {

    .container-fluid {
        padding: 18px 20px 15px;
    }

    .menu {
        margin: 5px 0 0;
    }

    .nav-link {
        margin: 4px 5px;
        padding: 7px 9px 7px 11px;
    }

    #hero-section {
        background-color: #F5FEF9;
        padding: 8px 33px 13px;
        text-align: center;
        border-top: 1px solid #006729;
    }

    .head-text {
        padding: 70px 0 60px;
        margin: 0 0 20px;
    }

    .heading-text {
        font-size: 27px;
        line-height: 1.35;
    }

    .heading-subtext {
        font-size: 15px;
        padding: 0 0 20px;
    }

    .learn-more {
        font-size: 14px;
        padding: 7px 13px;
    }

    .hero-img,
    .iphone {
        display: none;
    }

    .download-btn {
        font-size: 16px;
    }

    #get-apps {
        background-color: #006729;
        padding: 8px 33px 15px;
        text-align: center;
    }

    .get-our-app-text {
        font-size: 22px;
    }

    #who-are-we {
        padding: 13px 33px;
    }

    .who-are-we-h1,
    .who-are-we-h2 {
        font-size: 23px;
    }

    .who-are-we-p {
        font-size: 15px;
    }

    .h3-div {
        font-size: 17px;
        font-weight: 500;
    }

    .copyright-text {
        font-size: 16px;
    }

    .handle-text {
        font-size: 15px;
    }

    .hr-services {
        margin: 20px 0 5px;
    }

    .comments-h2 {
        font-size: 21px;
        padding: 0 31px;
        margin: 0 0 5px;
        font-weight: 550;
    }

    .reviews {
        font-size: 15px;
        padding: 0 31px 20px;
    }

    .site-footer {
        padding: 30px 0 0;
    }

    .overview-h2,
    .about-us-h2,
    .mission-h2,
    .vision-h2,
    .school-amb-h2,
    .goals,
    .values,
    .services-h2 {
        font-size: 25px;
        font-weight: 600;
    }

    .overview-text,
    .about-us-text,
    .mission-text,
    .vision-text,
    .value-list,
    .services-text {
        font-size: 15px;
    }

    .ad-video {
        width: fit-content;
        height: 160px;
        padding: 0 10px;
    }

}