@import url('https://fonts.cdnfonts.com/css/satoshi');

body {
    font-family: 'Satoshi';
    margin: 0;
}

/* Navigation Menu */

.navbar {
    padding: 0;
}

.container-fluid {
    background-color: #ffffff;
    padding: 20px 6.5% 15px 6.5%;
}

.navbar-bg {
    color: #fff;
}

.nav-item {
    padding: 0;
}

.favicon {
    max-width: calc(37px + 0.2vw);
}

.contact-nav-link {
    border-radius: 8px;
    color: #fff;
    background-color: #006729;
}

.nav-link {
    color: #00451c;
    font-size: calc(16px + 0.22vw);
    font-weight: 500;
    border-radius: 5px;
    padding: 7px 9px;
    margin: 6px 0 6px 22px;
    -webkit-transition: width 3s;
    transition: width 3s;
}

.nav-link:hover {
    background-color: #006729;
    font-weight: 500;
    color: #fff;
    font-size: calc(15px + 0.22vw);
    border-radius: 5px;
}

.active-tab {
    color: #ffffff;
    background-color: #006729;
}

.menu {
    margin: 5px 0 0 0;
}


/* Hero Section */

#hero-section {
    background-color: #fafffc;
    padding: 4rem 9rem 6.3rem;
    text-align: center;
    border-top: 1px solid #006729;
}

.heading-section {
    text-align: left;
}

.head-text {
    padding: 105px 0 60px;
    margin: 0 0 13px;
}

.heading-text {
    color: #303030;
    font-size: calc(35px + 0.25vw);
    font-weight: 900;
    line-height: 1.2;
    padding: 0 20px 15px 0;
    margin: 0;
}

.heading-subtext {
    color: #303030;
    font-size: calc(17px + 0.21vw);
    line-height: 1.4;
    font-weight: 500;
    padding: 0 5px 30px 0;
    margin: 0;
}

.get-btn {
    background-color: #1F1F1F;
    font-size: calc(14px + 0.22vw);
    padding: 10px 16px;
    margin: 0 7px 0 0;
    color: white;
    font-weight: 200;
    margin-bottom: 7px;

    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}

.get-btn:hover {
    background-color: #1f1e1e;
    font-size: calc(14px + 0.22vw);
    padding: 10px 16px;
    margin: 0 7px 0 0;
    color: white;
    font-weight: 200;
    margin-bottom: 7px;

    transform: translateY(-10px);
}

.hero-img {
    width: calc(85% + 1vw);
    height: auto;
    text-align: center;

    /* Bounce Effect */

    top: 0;
    left: 0;
    animation: bounce 1.3s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Video Ad */

#get-apps {
    background-color: #006729;
    padding: 0 10% 5%;
    text-align: center;
}


.video-ad {
    padding-bottom: 40px;
    margin: 0;
}

.ad-video {
    text-align: center;
    margin: -4rem 0 0 0;
    padding: 0 0 15px 0;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.play-more {
    color: white;
    font-size: calc(16px + 0.2vw);
}

.service-icon {
    color: #ffffff;
}

.service-icon h1 {
    font-size: calc(31px + 0.2vw);
    font-weight: 600;
}

.service-icon p {
    font-size: calc(17px + 0.23vw);
    font-weight: 400;
    line-height: 1.6rem;
    padding: 0 20px 0;
}

.serviceicon {
    padding-bottom: 1.5rem;
    margin: 0;
}

/* Who are we? */

#who-are-we {
    text-align: center;
    background-color: #fafffc;
    padding: 4.3rem 10rem 2rem;
}

.who-are-we-text {
    text-align: left;
    padding: 0 0 10px;
    margin: 35px 0 0;
}

.who-are-we-h1 {
    font-size: calc(35px + 0.23vw);
    color: #006729;
    font-weight: 800;
    padding: 25px 0 15px;
    margin: 0;
}

.who-are-we-p {
    font-size: calc(19px + 0.25vw);
    padding: 0 1.6rem 0 0;
    font-weight: 500;
    margin: 0;
    line-height: 1.75rem;
}

.whoarewe {
    width: calc(70% + 0.5vw);
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.whoarewe-div {
    padding: 0;
    margin: 0;
}

/* Career */

#careers {
    text-align: center;
    background-color: #fafffc;
    padding: 2.5rem 7rem 4rem;
}

.careers-text {
    text-align: left;
    padding: 0 0 10px;
    margin: 35px 0 0;
}

.careers-h1 {
    font-size: calc(35px + 0.25vw);
    color: #006729;
    font-weight: 800;
    padding: 25px 0 15px;
    margin: 0;
}

.careers-p {
    font-size: calc(18px + 0.23vw);
    padding: 0.5rem 0 0;
    font-weight: 500;
    margin: 0;
    line-height: 1.45;
}

.careers {
    width: calc(70% + 0.5vw);
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.careers-div {
    padding: 0;
    margin: 0;
}

/* Become an Ambassador */

.amb-btn {
    color: #fff;
    background-color: #006729;
    padding: 10px 16px;
    font-size: calc(16px + 0.23vw);
    margin: 2.5rem 0 0;
    font-weight: 500;

    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}

.amb-btn:hover {
    color: #fff;
    background-color: #00451c;
    transform: translateY(-12px);
}

/* Testimonals */

#testimonials {
    text-align: center;
    background-color: #fafffc;
    padding: 2.5rem 7rem 4rem;
}

.testimonals-head {
    color: #006729;
    text-align: center;
    font-size: calc(45px + 0.2vw);
    font-weight: 700;
    padding-bottom: 20px;
}


/* About Us */

#overview {
    background-color: #fafffc;
    padding: 2rem 4rem 2rem;
}

.overview-h2,
.mission-h2,
.vision-h2,
.goals,
.values {
    font-size: 1.8rem;
    font-weight: 600;
}

.overview-text,
.mission-text,
.vision-text,
.list-of-value {
    font-size: calc(17px + 0.21vw);
    line-height: 1.4;
}

#core-values,
#school-amb {
    padding: 2rem 4rem 2rem;
}

.group-avatar {
    padding: 2rem 1rem;
}


/* Coming Soon */

.cs-btn {
    background-color: #fafffc;
    color: #006729;
    font-size: calc(16px + 0.2vw);
    margin: 5px 0;
    padding: 13px 24px;
    font-weight: 500;
}

.coming-soon {
    font-size: 2.3rem;
    font-weight: 600;
    color: #fafffc;
    text-align: center;
}

/* Footer */

.site-footer {
    background-color: #006729;
    padding: 40px 10px 25px;
    font-size: cal(15px + 0.15vw);
    line-height: 24px;
    color: #fff;
}

.footer-icon {
    margin: 0 5px 0 0;
    width: auto;
}

.site-footer a {
    color: #fff;
}

.site-footer a:hover {
    color: #fefefe;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.handle-text {
    margin: 0 0 0 5px;
    font-size: calc(15px + 0.15vw);
}

.copyright-text {
    font-size: calc(17px + 0.18vw);
    color: #fff;
    margin: 0;
    font-weight: 900;
}

.copyright-subtext {
    color: #fff;
    font-size: calc(15px + 0.23vw);
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
    padding: 1.2rem 0;
}

.homeease-handle {
    font-weight: 600;
    font-size: calc(16px + 0.17vw);
}

.socials {
    padding: 0 4px 0 0;
}

/* Quick Links */

.quick-links h2 {
    margin: 0;
    padding: 0 0 18px;
    font-weight: 700;
    font-size: calc(22px + 0.22vw);
}

.links-h2 {
    text-align: left;
    margin: 0;
    padding: 0;
}

.footer-lin {
    padding: 0;
}

.contact-us-list {
    padding: 0;
}

.footer-links {
    text-decoration: none;
    font-size: calc(16px + 0.22vw);
    line-height: 1.6;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

.contact-us-list {
    font-size: calc(16px + 0.22vw);
    font-weight: 400;
    line-height: 1.4;
}

.contact-us-list a {
    text-decoration: none;
}

/* Form Page */

#form-section {
    background-color: #fafffc;
    padding: 4rem 12rem;
    text-transform: uppercase;
    font-size: calc(16px + 0.17vw);
    font-weight: 500;
}

.form-details {
    margin: 0 auto;
    width: auto;
    padding: 50px 55px;
    background: #006729;
    color: #fafffc;
    border-radius: 14px;
}

.form-title {
    text-align: center;
    font-size: calc(26px + 0.2vw);
    font-weight: 600;
    padding: 0 0 10px;
    margin: 0;
}

.form-labels {
    padding: 0;
    margin: 0;
}

#image1,
#image2 {
    padding: 0;
}

.content-area {
    margin: 0 0 15px;
    padding: 0;
}

.submit-btn {
    background-color: #fafffc;
    color: #006729;
    border-radius: 9px;
    font-size: calc(16px + 0.2vw);
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 18px;
    margin: 10px 0 0;

    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.submit-btn:hover {
    border: 2px solid #fafffc;
    color: #fafffc;
    background-color: #006729;
    transform: translateY(-5px);
}

@media (max-width:600px) {
    .site-footer {
        padding-bottom: 0
    }
}

@media (max-width:600px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 500
    }
}


/* Mobile View */
@media (max-width:652px) {

    .container-fluid {
        padding: 18px 20px 15px;
    }

    .menu {
        margin: 5px 0 0;
    }

    .nav-link {
        margin: 4px 5px;
        padding: 7px 9px 7px 11px;

    }

    #hero-section {
        background-color: #fafffc;
        padding: 10px 30px 75px;
        text-align: center;
        border-top: 1px solid #006729;
    }

    .head-text {
        padding: 40px 0 40px;
        margin: 0;
    }

    .heading-text {
        font-size: calc(25px + 0.1vw);
        line-height: 1.3;
        padding: 0 0 17px 0;
        margin: 0;
    }

    .heading-subtext {
        font-size: calc(15px + 0.22vw);
        padding: 0 0 20px;
    }

    .get-btn {
        background-color: #1F1F1F;
        font-size: calc(14px + 0.2vw);
        padding: 8px 14px;
        margin: 0 5px 0 0;
        color: white;
        font-weight: 200;
        margin-bottom: 7px;
    }

    .get-btn:hover {
        background-color: #1f1e1e;
        font-size: calc(14px + 0.2vw);
        padding: 8px 14px;
        margin: 0 5px 0 0;
        color: white;
        font-weight: 200;
        margin-bottom: 7px;
    }

    .hero-img {
        width: calc(75% + 1vw);
        height: auto;
        text-align: center;
    }

    .video-ad {
        padding-bottom: 25px;
        margin: 0;
    }

    .service-icon h1 {
        font-size: calc(26px + 0.2vw);
        font-weight: 600;
    }

    .service-icon p {
        font-size: calc(17px + 0.23vw);
        font-weight: 400;
        line-height: 1.4;
        padding: 0 10px;
        margin: 0 0 35px;
    }

    #get-apps {
        background-color: #006729;
        padding: 8px 30px 15px;
        text-align: center;
    }

    #who-are-we {
        padding: 13px 33px;
    }

    .who-are-we-h1 {
        font-size: calc(26px + 0.2vw);
    }

    .who-are-we-p {
        font-size: calc(17px + 0.23vw);
        font-weight: 500;
        line-height: 1.3;
        padding: 0;
        margin: 0 0 15px;
    }

    #careers {
        background-color: #fafffc;
        padding: 8px 30px 15px;
        text-align: center;
    }

    .careers {
        display: none;
    }

    .testimonals-head {
        color: #006729;
        text-align: center;
        font-size: calc(33px + 0.2vw);
        font-weight: 800;
        padding-bottom: 20px;
    }

    .copyright-text {
        font-size: calc(16px + 0.2vw);
        text-align: left;
    }

    .copyright-subtext {
        font-size: calc(16px + 0.22vw);
        padding: 17px 0 10px;
    }

    .logo-side {
        padding: 0;
        margin-bottom: 15px;
    }

    .quick-links {
        padding: 0;
        text-align: left;
    }

    .footer-lin {
        padding: 0;
    }

    .contact-us-list {
        padding: 0;
    }

    .links-h2 {
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .handle-text {
        font-size: 15px;
    }

    .ad-video {
        width: fit-content;
        height: 160px;
        padding: 0 10px;
    }

    .site-footer {
        text-align: left;
        padding: 25px 30px 15px;
    }

    #overview {
        background-color: #fafffc;
        padding: 1rem 1.6rem 1.2rem;
    }

    .overview-h2,
    .mission-h2,
    .vision-h2,
    .goals,
    .values {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .overview-text,
    .mission-text,
    .vision-text,
    .list-of-value {
        font-size: calc(18px + 0.25vw);
        line-height: 1.6;
    }

    #core-values,
    #school-amb {
        padding: 1rem 1.6rem 1.2rem;
    }

    .group-avatar {
        padding: 1.2rem 1.5rem;
    }

    #form-section {
        padding: 2.5rem 2rem;
        font-size: calc(15px + 0.17vw);
    }

    .form-details {
        margin: 0 auto;
        width: auto;
        padding: 40px 35px;
    }

    .form-title {
        text-align: center;
        font-size: calc(23px + 0.2vw);
        font-weight: 600;
        padding: 0 0 15px;
        margin: 0;
    }

}