body {
    font-family: 'Poppins';
    margin: 0;
}


/* Navigation Menu */

.navbar {
    padding: 0;
}

.container-fluid {
    background-color: #006729;
    padding: 1% 6.5% 1% 6.5%;
    border-radius: 15px;
}

.navbar-bg {
    color: #fff;
    margin: 1.8% 2.2% 0 2.2%;
}

.nav-item {
    padding: 0;
}

.favicon {
    max-width: calc(37px + 0.2vw);
}

.cotact-nav-link {
    border: 3.5px solid #fefefe;
    border-radius: 7px;
}

.nav-link {
    color: #efefef;
    font-size: calc(16px + 0.195vw);
    border-radius: 5px;
    padding: 6px 9px;
    margin: 8px 0 8px 9px;
}

.nav-link:hover {
    background-color: #fff;
    font-size: calc(16px + 0.195vw);
    border-radius: 5px;
    text-decoration: underline;
}

.active {
    background-color: #fff;
    color: #006729;
    text-decoration: underline;
}


/* Hero Section */

#hero-section {
    background-color: #fff;
    padding: 4% 9.5%;
    text-align: center;
}

.heading-section {
    text-align: left;
}

.head-text {
    padding: 110px 0 80px;
}

.heading-text {
    font-size: calc(36px + 0.23vw);
    font-weight: 600;
    line-height: 1.3;
    padding: 0 15px 20px 0;
    margin: 0;
}

.heading-subtext {
    font-size: calc(16.5px + 0.21vw);
    line-height: 1.4;
    font-weight: 200;
    padding: 0 15px 20px 0;
    margin: 0;
}

.learn-more {
    background-color: #006729;
    font-size: calc(14px + 0.21vw);
    padding: 2% 4%;
    color: white;
    font-weight: 400;
}

.hero-image {
    width: calc(95% + 1vw);
    text-align: center;
}


/* Get Our Apps */

#get-apps {
    background-color: #006729;
    padding: 4% 10% 5%;
    text-align: center;
}

.ad-video {
    width: 75%;
    text-align: center;
    margin: -10rem 0 0 0;
    padding: 0 0 10px 0;
    border-radius: 20px;
}

.get-our-app-text {
    padding: 15px 0 5px;
    color: #fff;
    text-align: left;
    font-size: calc(25px + 0.24vw);
    line-height: 1.3;
    margin: 0;
}

.download-button {
    text-align: left;
    padding: 10px 0 0;
}

.download-btn {
    font-size: calc(13px + 0.21vw);
    padding: 10px 15px;
    margin: 0 10px 0 0;
}


/* Who are we? */

#who-are-we {
    text-align: center;
    background-color: #fefefe;
    padding: 4% 10%;
}

.who-are-we-text {
    text-align: left;
    padding: 0 0 10px;
    margin: 30px 0 0;
}

.who-are-we-h1 {
    font-size: calc(30px + 0.25vw);
    font-family: 'Poppins';
    color: #1d1d1d;
    font-weight: 600;
    padding: 25px 0 10px;
    margin: 0;
}

.who-are-we-h2 {
    font-size: calc(30px + 0.25vw);
    font-family: 'Poppins';
    color: #1d1d1d;
    font-weight: 600;
    padding: 35px 0 10px;
    margin: 0;
}

.who-are-we-p {
    font-size: calc(18px + 0.21vw);
    padding: 0 10px 0 0;
    font-weight: 400;
    margin: 0;
}

.iphone {
    width: calc(85% + 0.5vw);
    text-align: center;
    margin: 0;
    padding: 0;
}

.iphone-div {
    padding: 0;
    margin: 0;
}


/* Services */

.services-icon {
    padding: 0;
}

.icons {
    padding: 0;
}

.service-ico {
    width: 150px;
    height: 150px;
}

.h3-div {
    text-align: center;
    font-size: calc(17px + 0.25vw);
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.hr-services {
    margin: 35px 0 5px;
    padding: 0;
}


/* Comment & Reviews */

#comments {
    padding: 0 9% 7%;
    text-align: center;
}

.comments {
    text-align: left;
}

.comments-h2 {
    font-size: calc(22px + 0.24vw);
    font-weight: 500;
    color: #424141;
    margin: 0 0 10px;
    padding: 0 10%;
}

.reviews {
    font-size: calc(16px + 0.24vw);
    color: #1d1d1d;
    padding: 0 10% 2.5%;
    margin: 0;
}


/* Footer Section */

#footer {
    width: 100%;
    display: inline-block;
    background: #303030;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

.footer-distributed {
    background-color: #303030;
    box-shadow: 0 1px 1px 0 #0000001f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 3% 4.8%;
}

.footer-distributed .footer-left p {
    color: #efefef;
    font-size: 17px;
    font-weight: 600;
    font: "Poppins";
    margin: 0;
}

.footer-logo {
    width: 25px;
    height: 25px;
    margin: -4px 2px 0 0;
}

.homeease-handle {
    color: #efefef;
    font: 'Poppins';
    font-size: calc(16px + 0.18vw);
    font-weight: bold;
    text-align: center;
    margin: 6px 0 0 0;
}

.services-footer {
    margin: -70px 0 0;
}

/* Footer links */

.footer-distributed p.footer-links {
    font-size: calc(17px + 0.23vw);
    font-weight: 600;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: cal(17px + 0.16vw);
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin: 6px 0 0;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}

.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 15px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.4;
    }
}


/* About Us Page */

/* Overview */

#overview {
    background-color: #fff;
    padding: 2.2% 8% 2.5%;
    text-align: center;
}

.overview,
.about-us {
    text-align: left;
}

.overview-h2,
.about-us-h2 {
    color: #424141;
    font-size: calc(35px + 0.24vw);
    font-weight: 600;
    margin: 35px 0 15px;
    padding: 0;
}

.overview-text,
.about-us-text {
    color: #1d1d1d;
    font-size: calc(17px + 0.21vw);
    font-weight: 500;
    padding-right: 10%;
    line-height: 1.6;
    margin: 0 0 15px;
    padding: 0;
}

.hr {
    width: 40%;
    color: #1d1d1d;
}


/* School Ambassadors */

#school-amb {
    background-color: #fff;
    padding: 2% 8% 2.5%;
    text-align: center;
}

.school-amb-h2 {
    text-align: left;
    color: #424141;
    font-size: calc(35px + 0.24vw);
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.amb-text {
    font-size: calc(14px + 0.2vw);
    font-weight: 400;
    padding: 8px 0;
}

.group-avatar {
    margin: 0;
    padding: 60px 0 35px;
}

.view-more {
    background-color: #006729;
    margin: 25px 0 0;
    font-size: calc(14px + 0.16vw);
    padding: 11px 12px;
    color: white;
}

.view-more:hover {
    background-color: #035423;
    font-size: calc(16px + 0.18vw);
    padding: 11px 12px;
    color: white;
}


/* Become An Ambassador */

#become-an-ambassador {
    background-color: #fff;
    padding: 2% 7% 2%;
    text-align: center;
}

.become-an-ambassador {
    text-align: left;
}

.amb-btn {
    border: 2px #006729 solid;
    color: #006729;
    padding: 11px 14px;
    font-size: calc(16px + 0.15vw);
    font-weight: 500;
}

.amb-btn:hover {
    background-color: #006729;
    padding: 11px 14px;
    font-size: 19px;
    font-weight: 500;
}

.amb-hr {
    margin: 80px 0 0 0;
    width: 40%;
}


/* Career */

#career {
    padding: 0 0 35px;
}

.career-h2 {
    text-align: left;
    color: #424141;
    font-size: calc(35px + 0.24vw);
    font-weight: 600;
    margin: 0;
    padding: 2% 8.5% 2%;
}

.career-text {
    color: #1d1d1d;
    font-size: calc(17px + 0.22vw);
    font-weight: 500;
    padding-right: 10%;
    line-height: 1.45;
    padding: 2% 8.5% 10px;
    margin-bottom: 0;
}

.click-link {
    color: #006729;
    font-size: calc(17px + 0.22vw);
    font-weight: bold;
    padding: 2% 8.5% 2%;
    margin: 0;
    text-decoration: none;
}

.click-link:hover {
    color: #035423;
    font-size: calc(17px + 0.22vw);
    font-weight: 500;
    padding: 2% 8.5% 2%;
    text-decoration: none;
}


/* Services Page */

#our-services-pg {
    padding: 6% 8% 7%;
    margin: 3px 0 -70px;
}

.services-h2 {
    color: #fff;
    font-size: calc(35px + 0.21vw);
    font-weight: bold;
    padding: 25px 0 15px;
    margin: 0;
}

.services-text {
    font-size: calc(15px + 0.19vw);
    color: #fff;
    font-weight: 300;
    margin: 0;
}

.bg-icons {
    text-align: center;
}

.services-icons {
    max-width: 95%;
    max-height: fit-content;
    margin: 0;
}

#services-icons {
    text-align: center;
}


/* Mission & Vision */

#mission {
    padding: 4% 6%;
    background-color: #fff;
}

.mission-h2,
.vision-h2 {
    font-size: calc(33px + 0.21vw);
    font-weight: bold;
    margin: 1% 0 0.5%;
}

.mission-text,
.vision-text {
    font-size: calc(16px + 0.248vw);
    font-weight: 300;
}

.hr-1,
.hr-2 {
    width: 35%;
    color: #1a1919;
    align-items: left;
    margin: 2% 0 4%;
}

.goals,
.values {
    font-size: calc(29px + 0.16vw);
    font-weight: bold;
    margin: 0 0 10px;
}

.value-list {
    font-size: calc(16px + 0.248vw);
    font-weight: 300;
    line-height: 1.4;
    padding: 2px 0;
}

#core-values {
    padding: 1.6% 6% 3.5%;
}

/* Blog Section */

#blog-pg {
    padding: 6% 6.5% 5.5%;
    margin: 3px 0 0;
}

.blog-container {
    margin: 0;
    padding: 0;
}

.blog-h2 {
    color: #fff;
    font-size: calc(36px + 0.21vw);
    font-weight: bold;
    padding: 25px 0 15px;
    margin: 0;
}

.blog-text {
    font-size: calc(15px + 0.24vw);
    color: #fff;
    font-weight: 300;
    margin: 0;
    padding: 1% 2% 0 0;
}

.blogger-btn {
    border: 1px #fff solid;
    border-radius: 8px;
    padding: 10px 13px;
    margin: 70px 0 14px;
}

/* Post Section */

#post {
    padding: 4% 4.5% 5.5%;
    background-color: #fff;
}

.icon-bar {
    color: #1d1d1d;
    align-items: right;
}

.post-h2 {
    font-size: calc(33px + 0.18vw);
    font-weight: bold;
    margin: 0;
}

.icon-bar {
    margin: 0;
}

.post-container {
    margin: 0 0 30px;
}

.post-contain{
    padding: 0;
}

.post-content{
    padding: 7px 13px 15px;
    margin: 0;
}

.post-text{
    padding: 0;
}

.post-img{
    padding: 0;
}

.post-pic {
    border-radius: 10px;
    margin: 0 10px 0 0;
}

.blooger-pic {
    width: 45px;
    height: auto;
}

.post-title {
    margin: 0 0 8px;
    color: #1d1d1d;
    font-family: 'Poppins';
    font-size: calc(24px + 0.25vw);
    font-weight: bold;
}

.post-date{
    margin: 0;
    font-size: calc(14px + 0.12vw);
    color: #303030;
    font-weight: bold;
    margin: 0 0 5px;
    font-family: 'Courier New', Courier, monospace;
}

.blog-post{
    margin: 0 0 10px;
    font-size: calc(15px + 0.19vw);
}

.name-of-uni{
    margin: 0 0 8px;
    font-style: italic;
}

.blogger-id{
    margin: 0;
}





#testimonials .card {
    border: 0;
}

.card {
    text-align: center;
}

.card img {
    border-radius: 50%;
    width: 100%;
    max-width: 9rem;
    max-height: 9rem;
    margin: 0 auto;
}

._tm-user-role {
    font-weight: bold;
}

._tm-header {
    padding-bottom: 5rem;
    padding-top: 5rem;
}